.container {
    display: grid;
    grid-template-columns: 0% 100% 0%;
    grid-template-rows: 10% 80% 10%;
    justify-content: stretch;
    grid-template-areas:
        "header header header "
        "log log log"
        "footer footer footer ";
}


.header {
    grid-area: header;
    background-color: #2196f3;
    color: white;
}

h1 {
    padding-left: 10px;
}

h2 {
    padding-left: 10px;
}

.log {
    grid-area: log;

}

.sign {
    background-color: #cfd8dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.image {
    padding: 1%;
}

img {
    background: white;
    border-radius: 60px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

input[type="text"],
textarea {
    background: #f1f5f7;
    border: 1px solid #ffffff;
    background-color: #f1f5f7;
    border-color: #ffffff;
    height: 50px;
    width: 80%;
    
}

.username {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.password {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 4%;
}

button {
    background-color: #2196f3;
    border-radius: 4px;
    border: 1px solid #ffffff;
    border-color: #ffffff;
    color: #ffffff;
    height: 50px;
    width: 80%;
}

.footer {
    grid-area: footer;
    background-color: #2196f3;
    color: white;
    bottom: 0px;
    position: fixed;
    width: 100%;
    left: 0px;

}